/* scss goes here */
.title {
    text-align: center;
}
body {
    background-image: url("../img/x.jpg");
}
.board {
    background-image: url("../img/x.jpg");
    width: 456px;
    height: 457px;
    margin: 0px auto 0px auto;
    border: 1px solid brown;
    text-align: center;
    .row {
        display: table;
        table-layout: fixed;
        margin: auto;
        .cell {
            margin: auto;
            display: table-cell;
            width: 150px;
            height: 150px;
            border: 1px solid red;
            background-image: url("../img/x.jpg");
        }
    }
}
.checko {
    &:after{
        content: 'O';
    }
}
.checkx {
    background-image: url("../img/x.jpg");
    width: 100%;
    height: 10;
}